@import "~bootstrap/dist/css/bootstrap.min.css";

/* Body style */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Paragraph style */
p {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}
